<%= form_for(@user) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br><br>

<%= f.label :email %>
<%= f.email_field :email %>
<br><br>

<%= f.label :password %>
<%= f.password_field :password %>
<br><br>

<div class='field'>
    <%= i.label :last_signed_in_at, 'Last signed in at:' %>
    <%= i.date_select(:last_signed_in_at, order:[:hours,:day,:month, :year]) %>
</div>

<%= f.submit %>


<%end%>
