<!DOCTYPE html>
<html>
<head>
  <title>Authentic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h3><%= flash[:notice] %></h3>
	<h3>Current User:<%= current_user.inspect %></h3>

   
	<p> Enter: <%= link_to 'Sign In', new_session_path %> 
		   &nbsp; Exit: <%= link_to 'Sign Out', sign_out_path, method: :delete %>
    </p>
     <% else %> 
	
<%= yield %>

</body>
</html>
